:root {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #000;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}
